@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; color: white; font-family: "Roboto Mono", monospace; list-style: none; }

main { width: 100vw; height: 100vh; padding: 20px 80px; display: flex; justify-content: space-between; align-items: center; background-color: #00171f; position: relative; overflow: hidden; gap: 800px; }

main .conteudo-text { position: relative; z-index: 2; width: 500px; }

main .conteudo-text h1 { font-size: 70px; }

main .conteudo-text p { font-size: 25px; margin-top: 3rem; }

main .personagem { position: absolute; left: 50%; transform: translateX(-50%); /* Move a section dos personagens para o centro */ }

main .personagem .splide__arrows { display: none; }

main .personagem .splide__track ul.splide__list { max-width: 1920px; }

main .personagem .splide__track ul.splide__list li .personagemImg { width: 1350px; }

main .personagem .splide__track ul.splide__list li .backgroundPersonagem { background-image: url("https://media.valorant-api.com/agents/8e253930-4c05-31dd-1b6c-968525494517/background.png"); background-repeat: no-repeat; background-size: contain; background-position: right; }

main .personagem .splide { position: absolute; }

main .personagem .splide__slide { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); display: flex; justify-content: center; align-items: center; }

main .habilidades { max-height: 600px; display: column; justify-content: center; align-items: center; background-color: #fa4454; position: relative; z-index: 2; }

main .habilidades .cards-habilidades, main .habilidades img { height: 100px; width: 100px; }

main .habilidades .cards-habilidades img { filter: opacity(70%); }

main .habilidades .cards-habilidades img:hover { transition: all 0.2s ease-out; transform: scale(1.2); filter: opacity(100%); }

footer { width: 100%; z-index: 2; position: absolute; bottom: 0; }

footer .thumbnails { display: flex; justify-content: center; padding: 20px; margin-top: 1rem; flex-wrap: wrap; gap: 10px; }

footer .thumbnail { width: 100px; height: 100px; margin: 0 0.2rem; cursor: pointer; opacity: 0.3; }

footer .thumbnail.is-active { opacity: 1; border: 2px solid #fa4454; }

footer .thumbnail img { width: 100%; height: auto; }

footer .thumbnail { opacity: 0.5; }

footer .thumbnail.is-active { opacity: 1; }
