@import "mixins";

@media (max-width: 1540px){
    main{
        .personagem{
            .splide__track{
                ul.splide__list {
                    max-width: 1440px;
                    li{
                        .personagemImg{
                            width: 1050px;
                        }
                    }
                }  
            } 
        
        }

        .conteudo-text{
            position: relative;
            z-index: 2;
            width: 500px;
    
            h1{
                font-size: 70px;
                font-weight: bold;
            }
    
            p{
                font-size: 15px;
                margin-top: 10px;
                
            }
        }
    }   
}


@media (max-width: 600px){
    main{

        height: auto;
        
        flex-direction: column;
        gap: 50px;

        .conteudo-text{
         width: 300px;
         order: 2;

            h1{
                font-size: 50px;
                text-align: center;
            }

            h2{
                font-size: 15px;
                text-align: center;
            }

            p{
                font-size: 20px;
                margin-top: 1rem;
                text-align: center;
            }
        }

        .personagem{
            order: 1;
            img{
                width: 300px;
                background-size: 300px;
            }
        }

        .habilidades{
            order: 3;
            
            @include flex-box(flex, center, center);
    
            .cards-habilidades, img{
                @include dimensoes(80px, 80px);
            }
        }
    }
}

footer{
    width: 100%;

    .thumbnails {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 10px;
        background-color: red;
      }
      
      .thumbnail {
        width: 70px;
        height: 70px;
        margin: 0 0.2rem;
        cursor: pointer;
        opacity: 0.3;
      }
      
      .thumbnail.is-active {
        opacity: 1;
        border: 2px solid #fa4454;
      }
      
      .thumbnail img {
        width: 100%;
        height: auto;
      }
      .thumbnail {
        opacity: 0.5; 
      }
      
      .thumbnail.is-active {
        opacity: 1;  
      }
}
