@import "mixins";

@media (max-width: 1550px){
    main{
        gap: 100px;
        .personagem{
            .splide__track{
                ul.splide__list {
                    max-width: 1440px;
                    li{
                        .personagemImg{
                            width: 1250px;
                        }
                    }
                }  
            } 
        
        }

        .conteudo-text{
            position: relative;
            z-index: 2;
            width: 400px;
    
            h1{
                font-size: 70px;
                width: 20rem;
            }
    
            p{
                font-size: 15px;
                margin-top: 10px;
                
            }
        }

        .habilidades{
            max-height: 400px;
            @include flex-box(column, center, center);
            position: relative;
            z-index: 2;
    
            .cards-habilidades, img{
                @include dimensoes(70px, 70px);
            }
        }
    }
    
    footer{
        @include flex-box(flex, center,auto);
        
        .thumbnails {
            width: 80%;
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-top: 1rem;
            flex-wrap: wrap;
            gap: 10px;
          }
          
          .thumbnail {
            width: 75px;
            height: 75px;
            margin: 0 5px 5px 0;
            cursor: pointer;
            opacity: 0.3;
          }
          
          .thumbnail.is-active {
            opacity: 1;
            border: 2px solid #fa4454;
          }
          
          .thumbnail img {
            width: 80px;
            height: 80px;
            padding-bottom: 16px;
          }
    }
}


@media (max-width: 600px){
    main{
        @include flex-box(flex, auto, center);
        height: 120vh;  
        flex-direction: column;
        gap: 0;
        /* background-color: blue; */

        .conteudo-text{
         width: 300px;
         order: 2;
         position: relative;
         @include flex-box(flex,center,center);
         flex-direction: column;

            h1{
                width: 100%;
                font-size: 50px;
                text-align: center;
            }

            span{
                position: absolute;
                transform: rotate(-0.25turn);
                bottom: 650px; /* Gambiarra ate pensar em algo melhor para por apenas o h1 la em cima */
                font-size: xx-large;
                font-weight: bold;
                left: -20%;
            }

            h2{
                font-size: 15px;
                text-align: center;
            }

            p{
                font-size: 20px;
                margin-top: 1rem;
                text-align: center;
            }
        }

        .personagem{
            position: relative;
            left: 0;
            transform: none;
            order: 1;
            .splide__track{
                ul.splide__list {
                    max-width: 1920px;
                    li{
                        .personagemImg{
                            width: 600px;
                        }
                    }
                }    
            }
        }

        .habilidades{
            order: 3;
            
            @include flex-box(flex, center, center);
    
            .cards-habilidades, img{
                @include dimensoes(80px, 80px);
            }
        }
    }

    footer{
        @include flex-box(flex, center,auto);
        display: none;
        .thumbnails {
            width: 80%;
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-top: 1rem;
            flex-wrap: wrap;
            gap: 10px;
          }
    }
}


